/config/application.yml
/config/thin.yml
/config/deploy/*
/config/etcd_keys/*
!/config/deploy/template.rb
/public/assets/js/main-built.js
/public/assets/css/app-built.css
/public/assets/css/app-cat.css
/public/assets/*/*.map
/tmp
/log
/work/gen
/doc
/.yardoc
/vendor/gems
/.bundle
/.sass-cache

