<hr>
<footer>
<p>
This version of the game was implemented by <a href="http://andrewtongen.net" target="_blank">Andrew Tongen</a>
but the original <a href="http://setgame.com/puzzle/set.htm" target="_blank">Set Game</a> is produced by <a href="http://setgame.com" target="_blank">Set Enterprises</a>.
If you like it, you should buy it from them!
</p>
</footer>
