<hr>
<footer>
<div class="row">
  <div class="span4">
    <p> This version of the game is implemented by <a href="http://andrewtongen.net" target="_blank">Andrew Tongen</a>
    using HTML5.</p>
    <p>The original <a href="http://setgame.com/puzzle/set.htm" target="_blank">Set Game</a>
    is produced by <a href="http://setgame.com" target="_blank">Set Enterprises</a>.
    If you like it, you should buy it from them!</p>
  </div>
  <div class="span4">
    <% if @game %>
      <p>Questions? Comments? Found a bug?<br /><a href="#" id="message-btn">Send us a message</a>.</p>
    <% end %>
    <p>Geek out on the code on <a href="https://github.com/atongen/set_game" target="_blank">github</a>.</p>
    <div class="fb-like" data-href="<%= ENV['URL'] %>" data-send="false" data-width="300" data-show-faces="false" data-font="arial"></div>
  </div>
  <div class="span4">
    <p>Check out our unofficial sponsors:</p>
    <ul class="unstyled">
      <li><a href="http://www.alaskamountaineering.com">Alaska Mountaineering &amp; Hiking</a></li>
      <li><a href="http://nerdery.com">The Nerdery</a></li>
    </ul>
  </div>
</div>
</footer>
