<hr>
<footer>
<div class="row">
  <div class="span4">
    <p> This version of the game is implemented by <a href="http://andrewtongen.net" target="_blank">Andrew Tongen</a>
    using HTML5.</p>
    <p>The original <a href="http://setgame.com/puzzle/set.htm" target="_blank">Set Game</a>
    is produced by <a href="http://setgame.com" target="_blank">Set Enterprises</a>.
    If you like it, you should buy it from them!</p>
  </div>
  <div class="span4">
    <p>middle</p>
  </div>
  <div class="span4">
    <p>right</p>
  </div>
</div>
</footer>
