<!DOCTYPE html>
<html>
<head>
    <title>Real-Time</title>
    <script src="/assets/js/jquery-1.8.1.min.js"></script>
    <script src="/assets/js/d3.min.js"></script>
    <script src="/assets/js/d3.layout.min.js"></script>
    <script src="/assets/js/rickshaw.min.js"></script>
    <script src="/assets/js/app.js"></script>
</head>
<body>
<h1>Real-Time</h1>

<form id="form">
    <input type="text" id="input" value="send a message" />
</form>
<div id="msgs"></div>
</body>
</html>