<!DOCTYPE html>
<html>
<head>
  <title>Real-Time</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
  <script data-main="/assets/js/main" src="/assets/js/require.js"></script>
</head>
<body>
<h1>Real-Time</h1>
<form id="form" action="/" method="post">
<input type="submit" value="Start Game" />
</form>
</body>
</html>
