<!DOCTYPE html>
<html>
<head>
  <title>Real-Time</title>
  <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/graph.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/detail.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/legend.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/extensions.css">

  <script src="/assets/js/jquery-1.8.1.min.js"></script>
  <script src="/assets/js/jquery-ui-1.8.15.min.js"></script>

  <script src="/assets/js/d3.min.js"></script>
  <script src="/assets/js/d3.layout.min.js"></script>

  <script src="/assets/js/Rickshaw.js"></script>
  <script src="/assets/js/Rickshaw.Class.js"></script>
  <script src="/assets/js/Rickshaw.Compat.ClassList.js"></script>
  <script src="/assets/js/Rickshaw.Graph.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Renderer.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Renderer.Area.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Renderer.Line.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Renderer.Bar.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Renderer.ScatterPlot.js"></script>
  <script src="/assets/js/Rickshaw.Graph.RangeSlider.js"></script>
  <script src="/assets/js/Rickshaw.Graph.HoverDetail.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Annotate.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Legend.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Axis.Time.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Behavior.Series.Toggle.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Behavior.Series.Order.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Behavior.Series.Highlight.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Smoother.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Unstacker.js"></script>
  <script src="/assets/js/Rickshaw.Fixtures.Time.js"></script>
  <script src="/assets/js/Rickshaw.Fixtures.Number.js"></script>
  <script src="/assets/js/Rickshaw.Fixtures.RandomData.js"></script>
  <script src="/assets/js/Rickshaw.Fixtures.Color.js"></script>
  <script src="/assets/js/Rickshaw.Color.Palette.js"></script>
  <script src="/assets/js/Rickshaw.Graph.Axis.Y.js"></script>

  <script src="/assets/js/extensions.js"></script>
  
  <script src="/assets/js/app.js"></script>
</head>
<body>
<h1>Real-Time</h1>

<div id="chart_container">
  <div id="chart"></div>
</div>

<form id="form">
  <input type="text" id="input" value="send a message" />
</form>
<div id="msgs"></div>
</body>
</html>
