<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Set Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Andrew Tongen">
    <% if !!CONFIG['compiled'] %>
      <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.css">
      <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
      <script data-main="/assets/js/main-built" src="/assets/js/require.js"></script>
    <% else %>
      <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.css">
      <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
      <script>
        var require = { urlArgs: "bust=" +  (new Date()).getTime() };
      </script>
      <script data-main="/assets/js/main" src="/assets/js/require.js"></script>
    <% end %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <%= yield %>
</html>
