<!DOCTYPE html>
<html>
<head>
  <title>Real-Time</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
  <script src="/assets/js/json2.js"></script>
  <script src="/assets/js/jquery-1.8.1.min.js"></script>
  <script src="/assets/js/jquery.websocket-0.0.1.js"></script>
  <script src="/assets/js/app.js"></script>
</head>
<body>
<h1>Real-Time</h1>
<input type="text" id="input" value="" placeholder='say something...' />
<input type='submit' id="button" value='Submit' />
<div id="msgs"></div>
</body>
</html>
