<div class="row-fluid">
  <div class="span3">
    <div class="well comments">
      <% @game.comments.each do |comment| %>
      <div class="comment">
        <%= comment %>
      </div>
      <% end %>
    </div><!--/.well -->
    <div class="input-append">
      <input class="span2" id="appendedInputButton" type="text">
      <button class="btn" id="say" type="button">Say!</button>
    </div>
  </div><!--/span-->
  <div class="span9">
    <div class="hero-unit">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      <div class="game" data-game-id="<%= @game.id %>">
        Game #<%= @game.id %><br />
        Password: <%= @game.password.value %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#" id="test">Perform test &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->
