<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="to-email-field">Recipient Email</label>
    <div class="controls">
      <input type="text" id="to-email-field" type="email" placeholder="Recipient Email" required />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="from-name-field">Your Name</label>
    <div class="controls">
      <input type="text" id="from-name-field" placeholder="Your Name" required />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="msg-field">Message</label>
    <div class="controls">
      <input type="text" id="msg-field" placeholder="Message"/>
    </div>
  </div>
</form>
