<form class="form-horizontal">
  <p>We love feedback! Question, commends, and error reports are always welcome.</p>
  <div class="control-group">
    <label class="control-label" for="from-email-field">Your Email</label>
    <div class="controls">
      <input type="text" id="from-email-field" type="email" placeholder="Your Email" required />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="from-name-field">Your Name</label>
    <div class="controls">
      <input type="text" id="from-name-field" placeholder="Your Name" required />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="msg-field">Message</label>
    <div class="controls">
      <textarea rows="3" id="msg-field" placeholder="Message" required></textarea>
    </div>
  </div>
</form>
