development: &default
  URL: http://localhost:3000
  MY_EMAIL: developer@example.com
  FB_ADMINS:
  GA_TRACKER:
  MAX_GAMES: 100
  MAX_PLAYERS_PER_GAME: 6
  SESSION_SECRET: 1e60813168g929277aa3953ccf72d06fgf1g30c898c3174d820a94e7b0d28e84d5dc7ac85f47e43fa7ffeefca0eb4615b51de36b908dbd104b5d186ad6fa43g0
  COMPILED: false
  REDIS_HOST: 127.0.0.1
  REDIS_PORT: 6379
  REDIS_DATABASE: 0
  REDIS_DRIVER:
  REDIS_SIZE:
  REDIS_NAMESPACE:
  SMTP_ADDRESS: smtp.gmail.com
  SMTP_PORT: 587
  SMTP_ENABLE_STARTTLS_AUTO: true,
  SMTP_USER_NAME: test@example.com
  SMTP_PASSWORD: h@ckm3
  SMTP_AUTHENTICATION: plain
  SMTP_DOMAIN: gmail.com

test:
  <<: *default

production:
  <<: *default
  COMPILED: true
